@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&family=Roboto+Slab&display=swap');


h1, h2{
  font-family: 'Roboto Slab', serif;
}

p{
  font-family: 'Geologica', sans-serif;
}

.navbar {
    width: 100vw;
}
.navbar-nav li:last-child {
  margin-left: auto;
}
.nav-icon svg{
  height: 1.5rem;
  fill: currentColor;
}

/*carousel*/
.slideshow {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
  background-color: black;
}
.carousel-item img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 0.8;
}
.carousel-caption {
  bottom: 35%;
  left: 0px;
  right: 0px;
}
.carousel-item h1 {
  font-size: 2.5rem;
  font-weight: 1000;
  text-decoration: underline;
  backdrop-filter: blur(1px);
  padding: 15px;
  color: white;
  letter-spacing: 2px;
}
.carousel-control-next-icon {
  position: absolute;
  right: 20px;
}
.carousel-control-prev-icon {
  position: absolute;
  left: 20px;
}  

.sipka {
  fill: white;
  height: 50px;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 8%;
  animation-name: sipka;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 5;
} 

.sipka svg {
  height: 55px;
}   

@keyframes sipka { /*animacia na sipku nech sa hybe hore dole*/
  0% {
      bottom: 8%;
  }
  25% {
      bottom: 10%;
  }
  75% {
      bottom: 10%;
  }
  100% {
      bottom: 8%;
  }
}


.white{
  width: 100%;
  background-color: white;
  bottom: 0%;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #bcbcbc;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-down .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}




.arrow{
    height: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 8%;
    animation-name: sipka;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    z-index: 10;
}
.arrow svg{
  height: 2.5rem;
  fill: white;
}
@keyframes sipka {
    0% {bottom: 8%;}
    30% {bottom: 10%;}
    75% {bottom: 10%;}
    100% {bottom: 8%;}
} 

.content p{
  text-align: justify;
  z-index: 20;
}

.footer-text{
  text-align: left;
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/*Ovocie normálne*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


/* Kontakt */
.no-display-link{
  text-decoration: none;
  color: black
}

.kontakt-icon{
  width: 50px;
  height: 50px; 
  fill: black;
}

.footer-icon{
  width: 1.5rem;
  height: 1.5rem; 
  fill: gray;
}

.text-white, .text-white a{
  color: white;
  text-decoration: none;
}

@keyframes facebook{
    0% {fill: black;}
    100% {fill: #3b5998;}
}

@keyframes facebook2{
  0% {fill: gray;}
  100% {fill: #3b5998;}
}

.facebook-container-2:hover svg {
  animation-name: facebook2;
  animation-duration: 1s;
  fill: #3b5998;
}

.facebook-container:hover svg {
  animation-name: facebook;
  animation-duration: 1s;
  fill: #3b5998;
}

.footer p, .footer a{
  font-size: 1rem;
}


/*Animacie zobrazenia*/

.zobrazenie2 {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.zobrazenie2.active2 {
  transform: translateX(0);
  opacity: 1;
}

.zobrazenie3 {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
  overflow-x: hidden;
}
.zobrazenie3.active3 {
  transform: translateX(0);
  opacity: 1;
  overflow-x: hidden;
}

/*zdola*/
.zobrazenie {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.5s all ease;
}
.zobrazenie.active{
  transform: translateY(0);
  opacity: 1;
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}

